header{
    justify-content: left;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

main{

}

li{
    display: flex;
    padding: 20px;
    text-align: right;
    justify-content:flex-end;
}


footer{
    text-align: left;

}

h3{
    text-align: left;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    flex: 1 0 200px;
    
}

.container {
    position: relative;
    text-align: center;
  }



#avatar{
    float:left;
    box-sizing: border-box;
    width: 10%;
    border: 3px;
    border-color: black;
    padding: auto;
}
img{
    display: block;
    padding: 25px;
    width: 30%;
    float:right;
    border-color: black;
    border-width: 20px;
    margin: auto;

}


section{
    background-color: rgb(224, 224, 132);
    text-align: left;

}

#digital-void{
    width: 60%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media screen {
    .flex-container {width: 100%;}
}

.topic{
    position: absolute;
    bottom: 20px;
    left: 16px;
    background-color: rgb(226, 191, 101);
}

.subtopic{ 
    position: absolute;
    bottom: 0px;
    left: 16px;
    background-color: rgb(226, 191, 101);
}
/* add hover feature


/* Link header parts to section 
