header{

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

main{

}

.header{

}

h1{
    text-align: right;
}

footer{
    text-align: left;

}

h3{
    text-align: left;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    flex: 1 0 200px;
    
}

img{
    width: 60%

}
section{
    background-color: rgb(44, 12, 173);
    text-align: left;

}

.digital-void{

}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media screen {
    .flex-container {width: 100%;}
}

/* add hover feature


/* Link header parts to section 
